/*---------
MISC TWEAKS
---------*/

/* replace two logos */
.drawer__inner__mastodon {
  background: var(--mascotUrl)
    no-repeat bottom center / contain !important;
}
.drawer__inner__mastodon > img {
  display: none;
}
.column-link--logo {
  background: var(--mascotUrl)
    no-repeat bottom center / contain !important;
    min-height: 40px;
}
.column-link--logo > svg {
  display: none;
}

//background image
//desktop<2560x1440px
@media only screen and (max-width: 1440px) and (max-height: 2560px) and (min-width: 961px){
  .ui {
  background: url("https://media.stsecurity.moe/public-media/lilymagic_bg.png")
    no-repeat center center / cover fixed !important;
  -webkit-background-size: 100vw;
  -moz-background-size: 100vw;
  -o-background-size: 100vw;
  background-size: 100vw;
  }
}
//desktop>2560x1440px
@media only screen and (min-width: 1440px), screen and (min-height: 2560px){
  .ui {
  background: url("https://media.stsecurity.moe/public-media/lilymagic_bg.png")
    no-repeat center center / cover fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
}
//phones
@media only screen and (max-width: 960px){
  .ui {
  background: url("https://media.stsecurity.moe/public-media/fault_bg_mobile.jpg")
    no-repeat center center / cover fixed !important;
  -webkit-background-size: auto 100vh;
  -moz-background-size: auto 100vh;
  -o-background-size: auto 100vh;
  background-size: auto 100vh;
  }
}

//header image in start page and about page
//.public-account-header__image img,
//.hero-widget__img img {
//  content:var(--headerUrl);
//}

//mascot image in about page
.landing-page__mascot img {
  content:var(--aboutMascotUrl);
}

/* vignette on headers and dropdowns */
.column-header {
  box-shadow: inset 0 0 8px 8px rgba(0, 0, 0, 0.3);
}
.column-header__button {
  background: transparent !important;
}
.column-header__collapsible-inner {
  box-shadow: inset 0 0 10em 10em rgba(0, 0, 0, 0.3);
}

/* column background */
.column, .columns-area__panels__main, .columns-area__panels__pane__inner, .drawer {
  background: var(--bgPageTransparent);
}
.link-footer {
  background: var(--bgPageTransparent);
  padding: 10px;
}
/* clear column gap for background color */
.columns-area__panels {
  gap: 0px !important;
}

/* notification column background */
.notification-ungrouped {
  background: var(--bgPageTransparent);
}
/* notification column item padding */
.notification-ungrouped .status:not(.status--is-quote) {
  padding: 3px;
}
/* notification column menu description text color*/
.app-form__toggle__label .hint {
  color: var(--text);
}
/* notification column menu option background*/
.privacy-dropdown__option {
  background: var(--dropdown-background-color);
}

/* clear the small line after some navigation panel links*/
.navigation-panel__list-panel__header {
  padding-inline-end: 0px !important;
}
/* add border radius to navigation panel links*/
.navigation-panel__menu > .column-link, .navigation-panel__list-panel__header > .column-link {
  border-radius: 4px;
  margin-top: 5px;
}

/* mobile navigation bar*/
.ui__navigation-bar {
  background: var(--bgPage);
  border-top: 0px solid var(--background-border-color);
}

/* make the account section at the top of compose form a bit bigger for its background color*/
.account__wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

/* about page*/
.prose {
  color: var(--text);
}
.rules-list, .rules-list__text {
  background: none;
}

/* directory*/
.filter-form {
  background: var(--bgHead);
}
.account-card {
  background: var(--background-color);
}